<footer>
  <a href="https://github.com/Team-Pickle-juice" class="active"><img width="25px" src="https://user-images.githubusercontent.com/35978265/81483038-15ac1880-91f0-11ea-8cff-bccccbd22521.png" alt=""></a>
  &copy; Team Pickle Juice
</footer>