<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="css/style.css">
<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f4021c5793.js" crossorigin="anonymous"></script>
<script type="x-tmpl-mustache" id="recipeInfo-template">
  <ul>
    <li>Ingredients: {{ingredients}}</li>
    <li>Instructions: {{instructions}}</li>
    <li>Price per serving: {{price}}</li>
    <li>Serving size: {{servings}}</li>
  </ul>
</script>