<header>
<nav class="navBar">
  <a href="#home" class="active"><img width="25px" src="" alt=""></a>
  <div id="navLinks">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/#howTo" href="">How To</a>
    <a href="/#about">About</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="navBarFunc()">
    <i class="fas fa-utensils"></i>
  </a>
</nav>
</header>