<header>
<nav class="navBar">
  <a href="#home" class="active">Logo</a>
  <div id="navLinks">
    <a href="/">Home</a>
    <a href="/register">register</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>
  <a href="javascript:void(0);" class="icon" onclick="navBarFunc()">
    <i class="fas fa-utensils"></i>
  </a>
</nav>
</header>