<header>
  <h1>add something here</h1>
  <nav>
      <ul>
          <!-- <li><a href = "route">add something here</a></li> -->
          <!-- <li><a href = "route">add something here</a></li> -->
      </ul>
  </nav>
  </header>