body {
    font-family: 'Pangolin', cursive;
}

main {
    background-color:whitesmoke;
}

footer {
    background-color:whitesmoke;
}

span {
    color: black;
}
span:nth-child(odd) {
    color: green;
}
span:nth-child(even) {
    color: green;
}
#foodPic {
    width: 100%;
}

.recipeImage {
  margin: 1rem;
}

.recipeI {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.recipeName {
  /* margin-bottom: 1rem; */
  font-size: larger;
  text-decoration: underline;
}

.recipeName, .recipeI {
  font-weight: bold;
}

input, button{
    border-color: green;
    border-radius: 5px 5px;
    background-color: whitesmoke;
}
input {
    text-indent: .5rem;
}

@media only screen and (max-width: 1024px) {
   
    body {
        border: 1px solid black;
        font-family: 'Pangolin', cursive;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }

    span {
        color: black;
    }
    span:nth-child(odd) {
        color: green;
    }
    span:nth-child(even) {
        color: green;
    }
   
   
  }