<!DOCTYPE html>
<html lang="en">
<head>
  <title>404 Not Found</title>
</head>

<body>
  <header>
    <%- include('../partials/header') %>
    <h1>404 Not Found</h1>
  </header>
  
  <main>
  <%- include('../partials/footer') %>
  <%- include('../partials/script') %>
</body>
</html>