<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Proof of Pickle Juice</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <section>
            <img id="pickleGuy" src="https://user-images.githubusercontent.com/35978265/81483038-15ac1880-91f0-11ea-8cff-bccccbd22521.png" alt="">
            <h2>The #1 Food App</h2>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet blanditiis voluptatem hic, totam aliquam omnis deserunt non, fugiat, tempora earum pariatur asperiores! Odit recusandae dicta nihil pariatur nobis asperiores dolorem!</p>

            <form action="/username" method="POST">
                <Input placeholder="Username" name="username"/>
                <button>Login</button>
            </form>
            <a href="/register">Register New User</a>
        </section>

        <section>
            <h2 id="about">About</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum vitae autem ut eius molestiae, delectus enim fuga deserunt sit molestias minus blanditiis repudiandae, aliquam ab dolore consequuntur ullam dolorem!</p>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>