<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>MeMeal App</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <h1>
            <span>M</span>e<span>M</span>e<span>a</span>l
        </h1>
        <section id="">
            <img id="foodPic" src="https://images.unsplash.com/photo-1515003197210-e0cd71810b5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=1050&q=80" alt="">
            <p>The MeMeal food application can be used to find certian foods that you enjoy using a max calorie count per serving while also exluding foods that you have an allergy to. You can save all your favorite foods to your own personalized profile and make adjustments to your favorite meals to make them even better!  </p>

            <div id="loginDiv">
              <form id="loginForm" action="/username" method="POST">
                  <Input placeholder="Username" name="username"/>
                  <button>Login</button>
                  <a id="registerAnchor" href="/register">Register New User</a>
              </form>
            </div>

        </section>

        <section id="howTo">
            <h2>How to Use</h2>
            <ol>
                <li><span>Step 1:</span> Ensure you are hungry!</li>
                <li><span>Step 2:</span> Login or register depending if you have used the app before</li>
                <li><span>Step 3:</span> If you need to register follow the below registration steps
                    <ul>
                      <li>Click the register link or use the dropdown menu</li>
                      <li>Enter in your profile Username</li>
                      <li>Enter in your daily caloric needs</li>
                      <li>Checkmark any allergies you have</li>
                      <li>Press Save</li>
                      <p>now you can follow the steps for logging in</p>
                    </ul>
                </li>
                <li><span>Step 4:</span> Enter Username and press Login</li>
                <li><span>Step 5:</span> Search, Update, Delete, profile or Recipes</li>
                <li><span>Step 6:</span> When searching a recipe, you can add it to you profile where you can modify all your favorites.</li>
            </ol>
        </section>

        <section>
            <h2 id="about">About</h2>
            <p>Five programmers on a quest to solve the problem of figuring out what foods to eat while at the same time exluding allergies so that we dont have to look into the ingredients to know if we will make it through the life endangering act of eating something delicious! </p>
            <div id="creators">
                <a href="https://github.com/adamowada"><img src="https://avatars2.githubusercontent.com/u/23043987?s=460&u=529394d67b0ddd09aa8780ba49b05a5f91016a74&v=4" alt=""></a>
                <a href="https://github.com/ticochuck"><img src="https://avatars1.githubusercontent.com/u/58413243?s=460&u=d09db33caa4806c3331d7d10e025d22109c935f4&v=4" alt=""></a>
                <a href="https://github.com/Bhattb2"> <img src="https://avatars0.githubusercontent.com/u/43795438?s=460&u=bcb9eaf818d946b43daa7fed5ca2ddd90d433283&v=4" alt=""></a>
                <a href="https://github.com/RichWhitehead"><img src="https://avatars3.githubusercontent.com/u/58717816?s=460&u=f28f9a0f7617ea4570a88fd452e608e163796b68&v=4" alt=""></a>
                <a href="https://github.com/BrendonLH"><img src="https://avatars1.githubusercontent.com/u/35978265?s=460&u=f1396d7f006f35a81baf9ba6e2843343c0a2ae33&v=4" alt=""></a>
                

            </div>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>