<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Proof of Pickle Juice</title>
</head>
<body>
    
    <%- include('../partials/header') %>
    
    <main>
        <section>
            <form action="/username" method="POST">
                <Input placeholder="Username" name="username"/>
                <button>Login</button>
            </form>
            <a href="/register">Register New User</a>
        </section>





    </main>
    <footer>
        <strong>&copy; 2020 Pickle Juice || Code Fellows</strong>
    </footer>
    <script src="js/app.js"></script>

    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>