<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>No User</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Sorry Username <%= profile.username %> does not exist!</h1>
        <h2>Would you like to register a New User?</h2>
        <a href="/register">Register New User</a>
    </main>
    <footer>

    </footer>
</body>
</html>