<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>No User</title>
</head>
<body>
    
    <%- include('../partials/header') %>

    <main>
        <h1>Sorry Username does not exist!</h1>
        <h2>Would you like to register a New User?</h2>
        <a href="/register">Register New User</a>
    </main>
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>