<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Register Page</title>
</head>
<body>
    <h1>Create New User</h1>
    <form action="/register-user" method="POST">
    <div>
        <input type="text" name="username" id="" class="textInput" placeholder="Username">
    </div>
    <div>
        <input type="text" name="calories" id="" class="textInput" placeholder="Calories Per Day">
    </div>
    <div>
        <label for="">dairy</label>
        <input type="checkbox" name="allergies" id="" value="dairy" class="textInput" placeholder="Allergies">
        <label for="">soy</label>
        <input type="checkbox" name="allergies" id="" value="soy" class="textInput" placeholder="Allergies">
        <label for="">peanuts</label>
        <input type="checkbox" name="allergies" id="" value="peanuts" class="textInput" placeholder="Allergies">
        <label for="">Tuna</label>
        <input type="checkbox" name="allergies" id="" value="tuna" class="textInput" placeholder="Allergies">
        
    </div>
    <!-- <button>Add Allergy</button> -->
    <!-- Add Jquery Functionality to add more allergies -->
    <button type="submit" id="saveButton">Save</button>
    </form>
    

</body>
</html>