<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
    <title>Register Page</title>
</head>
<body>
    
    <%- include('../partials/header') %>


    <h1 id="createUser">
        <span>C</span>r<span>e</span>a<span>t</span>e <span>N</span>e<span>w</span> U<span>s</span><span>e</span>r
    </h1>
    <form action="/checkUser" method="POST" id="registerForm">

    <div>
        <input type="text" name="username" id="" class="textInput" placeholder="Username">
    </div>
    <div>
        <input type="text" name="calories" id="" class="textInput" placeholder="Calories Per Day">
    </div>
    <div>
        <h2>Select All Allergies that Apply</h2>
        <label for="">Dairy</label>
        <input type="checkbox" name="allergies" id="" value="dairy" class="textInput" placeholder="Allergies">
        <label for="">Soy</label>
        <input type="checkbox" name="allergies" id="" value="soy" class="textInput" placeholder="Allergies">
        <label for="">Peanuts</label>
        <input type="checkbox" name="allergies" id="" value="peanuts" class="textInput" placeholder="Allergies">
        <label for="">Fish</label>
        <input type="checkbox" name="allergies" id="" value="fish" class="textInput" placeholder="Allergies">
        <label for="">Nuts</label>
        <input type="checkbox" name="allergies" id="" value="nuts" class="textInput" placeholder="Allergies">
        <label for="">Eggs</label>
        <input type="checkbox" name="allergies" id="" value="eggs" class="textInput" placeholder="Allergies">
        <label for="">Shellfish</label>
        <input type="checkbox" name="allergies" id="" value="shellfish" class="textInput" placeholder="Allergies">
        <label for="">Wheat</label>
        <input type="checkbox" name="allergies" id="" value="wheat" class="textInput" placeholder="Allergies">
        
    </div>
    <!-- <button>Add Allergy</button> -->
    <!-- Add Jquery Functionality to add more allergies -->
    <button type="submit" id="saveButton">Save</button>
    </form>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/script') %>
</body>
</html>