<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head.ejs') %>
  <title>500 Server Error</title>
</head>

<body>
  <header>
    <h1>500 Error Error <%= error.message %> </h1>
    <h1>Wow you really broke it!</h1>
  </header>
  
  <main>

  <%- include('../partials/script.ejs') %>
</body>
</html>